<section>
    <div class="drop">
        <ul class="drop_menu">
            <li><a href='#'>MENU</a>
                <ul>
                    <li><a routerLink="/">HOME</a></li>
                    <li><a routerLink="/file/file-list">LIST PAGE</a></li>
                    <li><a routerLink="/file/create/file">CREATE FILE</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>


<!-- <nav>
    <span class="dropdown">
        <ul> <li class="list-item">menu</li>
            <span class="dropdown-content">
                <i class="material-icons">home</i>Home</a>
                <a routerLink="/file-list"><i
                        class="material-icons">perm_contact_calendar</i>File List</a>
                        <a routerLink="/file-create"><i
                        class="material-icons">perm_contact_calendar</i>Create File</a>
            </span></ul>
    </span>
</nav>
<br>

<a routerLink="/home"></a> -->